############################################
# Visual Studio / .NET
############################################

# IDE files
.vs/
*.user
*.suo

# Build output folders
bin/
obj/

############################################
# Compiled files
############################################
*.exe
*.dll
*.pdb
*.cache

############################################
# Logs & temp files
############################################
*.log
*.tmp

############################################
# NuGet
############################################
packages/

############################################
# Allow important DLLs (if any)
############################################
# Example:
# !libs/**/*.dll
